* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 1px;
}
body {
    text-align: center;
    background-image:url(https://i.pinimg.com/originals/ac/95/ff/ac95ffa91025ca875854caf5e179bf38.jpg);
    background-attachment: scroll;
    width: 1600px;
    height: 1080px;

}
header {
    padding: 15px;
    background-color: rgb(59, 59, 59,0.4);
}
#main{
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    display: flexbox;
}

.boton {
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border-radius: 150px;
    background-color: rgb(172, 44, 44);
    font-size: 25px;
    color: aliceblue;
}
.boton:hover{
    background-color: rgb(236, 75, 75);
}
.boton:active{
    background-color: rgb(158, 19, 19);
}

.divition {
    height: 150px;
    width: 150px;
    padding: 20px;
    float: left;
}

footer{
    padding: 20px;
    padding-top: 200px;
    clear: both;
    margin: 1px;
    display: block;
    width: auto;
    background-color: rgb(59, 59, 59,0.4);
}