* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 0px;
}
body {
    text-align: center;
    background-image:url(https://cdn.discordapp.com/attachments/912963237149020190/953083974580830238/ac95ffa91025ca875854caf5e179bf38-1.png);
    background-attachment: scroll;
    width: 100%;
    height: 100%;

}
header {
    padding: 15px;
    background-color: rgb(59, 59, 59,0.4);
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%; */
}
#main{
    height: auto;
    width: auto;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    padding: 2%;
}

#enlaces {
    float: right;
}

#enlaces img {
    height: 60px;
}

.boton {
    height: 93%;
    width: 93%;
    margin: 5px;
    padding: 10px;
    border-radius: 150px;
    background-color: rgb(172, 44, 144);
    border-color: rgb(126, 126, 126);
    border-style: double;
    border-width: 4px;
    font-size: 120%;
    color: aliceblue;
}
.boton:hover{
    background-color: rgb(214, 57, 180);
}
.boton:active{
    background-color: rgb(114, 29, 96);
}

.divition {
    height: 125px;
    width: 125px;
    padding: 20px;
    float: left;
}

footer{
    padding: 20px;
    padding-top: 200px;
    clear: both;
    margin: 1px;
    display: block;
    width: auto;
    background-color: rgb(59, 59, 59,0.4);
    font-weight: 600;
    color: aliceblue;
}

@media only screen and (max-width:600px){
    #main{
        height: auto;
        width: auto;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
        padding: 2%;
    }
}